In [ ]:
# DATA SCIENCE - PANDAS TASK - Semanur Bilada
# Sub Task 1
import seaborn as sns

titanic_data = sns.load_dataset('titanic')

In [40]:
# Sub Task 2
gender_counts = titanic_data['sex'].value_counts()

print("Number of passengers as gender:\n\n", gender_counts)

Number of passengers as gender:

 male      577
female    314
Name: sex, dtype: int64

In [41]:
# Sub Task 3
unique_values = titanic_data.nunique()

print("Number of unique values for each column:\n\n", unique_values)

Number of unique values for each column:

 survived         2
pclass           3
sex              2
age             88
sibsp            7
parch            7
fare           248
embarked         3
class            3
who              3
adult_male       2
deck             7
embark_town      3
alive            2
alone            2
dtype: int64

In [42]:
# Sub Task 4
class_unique_values = titanic_data['class'].nunique()

print("Number of unique values of 'class' variable:", class_unique_values)

Number of unique values of 'class' variable: 3

In [43]:
# Sub Task 5
pclass_unique_values = titanic_data['pclass'].nunique()
print("Number of unique values of 'pclass' variable:", pclass_unique_values)

parch_unique_values = titanic_data['parch'].nunique()
print("Number of unique values of 'parch' variable:", parch_unique_values)

Number of unique values of 'pclass' variable: 3
Number of unique values of 'parch' variable: 7

In [44]:
# Sub Task 6
titanic_data['embarked'] = titanic_data['embarked'].astype('category')

print("Type of 'embarked' variable:", titanic_data['embarked'].dtype)

Type of 'embarked' variable: category

In [45]:
# Sub Task 7
embarked_C_passengers = titanic_data[titanic_data['embarked'] == 'C']

print("Informations of Passengers with 'embarked' variable value 'C':\n\n", embarked_C_passengers)

Informations of Passengers with 'embarked' variable value 'C':

      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1           1       1  female  38.0      1      0  71.2833        C   First
9           1       2  female  14.0      1      0  30.0708        C  Second
19          1       3  female   NaN      0      0   7.2250        C   Third
26          0       3    male   NaN      0      0   7.2250        C   Third
30          0       1    male  40.0      0      0  27.7208        C   First
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
875         1       3  female  15.0      0      0   7.2250        C   Third
879         1       1  female  56.0      0      1  83.1583        C   First
889         1       1    male  26.0      0      0  30.0000        C   First

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
9    child       False  NaN   Cherbourg   yes  False
19   woman       False  NaN   Cherbourg   yes   True
26     man        True  NaN   Cherbourg    no   True
30     man        True  NaN   Cherbourg    no   True
..     ...         ...  ...         ...   ...    ...
866  woman       False  NaN   Cherbourg   yes  False
874  woman       False  NaN   Cherbourg   yes  False
875  child       False  NaN   Cherbourg   yes   True
879  woman       False    C   Cherbourg   yes  False
889    man        True    C   Cherbourg   yes   True

[168 rows x 15 columns]

In [46]:
# Sub Task 8
embarked_not_S_passengers = titanic_data[titanic_data['embarked'] != 'S']

print("Informations of Passengers with 'embarked' variable value NOT 'S':\n\n", embarked_not_S_passengers)

Informations of Passengers with 'embarked' variable value NOT 'S':

      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1           1       1  female  38.0      1      0  71.2833        C   First
5           0       3    male   NaN      0      0   8.4583        Q   Third
9           1       2  female  14.0      1      0  30.0708        C  Second
16          0       3    male   2.0      4      1  29.1250        Q   Third
19          1       3  female   NaN      0      0   7.2250        C   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
875         1       3  female  15.0      0      0   7.2250        C   Third
879         1       1  female  56.0      0      1  83.1583        C   First
885         0       3  female  39.0      0      5  29.1250        Q   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
5      man        True  NaN  Queenstown    no   True
9    child       False  NaN   Cherbourg   yes  False
16   child       False  NaN  Queenstown    no  False
19   woman       False  NaN   Cherbourg   yes   True
..     ...         ...  ...         ...   ...    ...
875  child       False  NaN   Cherbourg   yes   True
879  woman       False    C   Cherbourg   yes  False
885  woman       False  NaN  Queenstown    no  False
889    man        True    C   Cherbourg   yes   True
890    man        True  NaN  Queenstown    no   True

[247 rows x 15 columns]

In [47]:
# Sub Task 9
young_female_passengers = titanic_data[(titanic_data['age'] < 30) & (titanic_data['sex'] == 'female')]

print("Information of Passengers age under 30 and female:\n\n", young_female_passengers)

Information of Passengers age under 30 and female:

      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
2           1       3  female  26.0      0      0   7.9250        S   Third
8           1       3  female  27.0      0      2  11.1333        S   Third
9           1       2  female  14.0      1      0  30.0708        C  Second
10          1       3  female   4.0      1      1  16.7000        S   Third
14          0       3  female  14.0      0      0   7.8542        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
874         1       2  female  28.0      1      0  24.0000        C  Second
875         1       3  female  15.0      0      0   7.2250        C   Third
880         1       2  female  25.0      0      1  26.0000        S  Second
882         0       3  female  22.0      0      0  10.5167        S   Third
887         1       1  female  19.0      0      0  30.0000        S   First

       who  adult_male deck  embark_town alive  alone
2    woman       False  NaN  Southampton   yes   True
8    woman       False  NaN  Southampton   yes  False
9    child       False  NaN    Cherbourg   yes  False
10   child       False    G  Southampton   yes  False
14   child       False  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
874  woman       False  NaN    Cherbourg   yes  False
875  child       False  NaN    Cherbourg   yes   True
880  woman       False  NaN  Southampton   yes  False
882  woman       False  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True

[147 rows x 15 columns]

In [48]:
# Sub Task 10
fare_age_filtered_passengers = titanic_data[(titanic_data['fare'] > 500) | (titanic_data['age'] > 70)]

print("Information of Passengers age over 70 or 'Fare' over 500:\n\n", fare_age_filtered_passengers)

Information of Passengers age over 70 or 'Fare' over 500:

      survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
96          0       1    male  71.0      0      0   34.6542        C  First
116         0       3    male  70.5      0      0    7.7500        Q  Third
258         1       1  female  35.0      0      0  512.3292        C  First
493         0       1    male  71.0      0      0   49.5042        C  First
630         1       1    male  80.0      0      0   30.0000        S  First
679         1       1    male  36.0      0      1  512.3292        C  First
737         1       1    male  35.0      0      0  512.3292        C  First
851         0       3    male  74.0      0      0    7.7750        S  Third

       who  adult_male deck  embark_town alive  alone
96     man        True    A    Cherbourg    no   True
116    man        True  NaN   Queenstown    no   True
258  woman       False  NaN    Cherbourg   yes   True
493    man        True  NaN    Cherbourg    no   True
630    man        True    A  Southampton   yes   True
679    man        True    B    Cherbourg   yes  False
737    man        True    B    Cherbourg   yes   True
851    man        True  NaN  Southampton    no   True

In [49]:
# Sub Task 11
missing_values_sum = titanic_data.isnull().sum()

print("Sum of null values for each variable:\n\n", missing_values_sum)

Sum of null values for each variable:

 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [64]:
# Sub Task 12
titanic_data.drop('who', axis=1, inplace=True)

#Note: It errors cause value of who is dropped (not found)

KeyError: ignored

In [65]:
# Sub Task 13
deck_mode = titanic_data['deck'].mode()[0]
titanic_data['deck'].fillna(deck_mode, inplace=True)

In [66]:
# Sub Task 14
age_median = titanic_data['age'].median()
titanic_data['age'].fillna(age_median, inplace=True)

In [68]:
# Sub Task 15
survived_stats = titanic_data.groupby(['pclass', 'sex'])['survived'].agg(['sum', 'count', 'mean'])
print("Statistics of intersection of pclass and sex variables:\n\n", survived_stats)

Statistics of intersection of pclass and sex variables:

                sum  count      mean
pclass sex
1      female   91     94  0.968085
       male     45    122  0.368852
2      female   70     76  0.921053
       male     17    108  0.157407
3      female   72    144  0.500000
       male     47    347  0.135447

In [70]:
# Sub Task 16
tips = sns.load_dataset('tips')

# tips from seaborn library defined

In [73]:
# Sub Task 17
time_totals = tips.groupby('time')['total_bill'].agg(['sum', 'min', 'max', 'mean'])

print("total_bill statistics according to time variable categories:\n\n", time_totals)

total_bill statistics according to time variable categories:

             sum   min    max       mean
time
Lunch   1167.47  7.51  43.11  17.168676
Dinner  3660.30  3.07  50.81  20.797159

In [74]:
# Sub Task 18
day_time_totals = tips.groupby(['day', 'time'])['total_bill'].agg(['sum', 'min', 'max', 'mean'])

print("total_bill statistics according to days and times:\n\n", day_time_totals)

total_bill statistics according to days and times:

                  sum    min    max       mean
day  time
Thur Lunch   1077.55   7.51  43.11  17.664754
     Dinner    18.78  18.78  18.78  18.780000
Fri  Lunch     89.92   8.58  16.27  12.845714
     Dinner   235.96   5.75  40.17  19.663333
Sat  Lunch      0.00    NaN    NaN        NaN
     Dinner  1778.40   3.07  50.81  20.441379
Sun  Lunch      0.00    NaN    NaN        NaN
     Dinner  1627.16   7.25  48.17  21.410000

In [75]:
# Sub Task 19
lunch_female_totals = tips[(tips['time'] == 'lunch') & (tips['sex'] == 'Female')].groupby('day')[['total_bill', 'tip']].agg(['sum', 'min', 'max', 'mean'])

print("total_bill and tip statistics according to Lunch time and female customers:\n\n", lunch_female_totals)

total_bill and tip statistics according to Lunch time and female customers:

      total_bill               tip
            sum min max mean  sum min max mean
day
Thur        0.0 NaN NaN  NaN  0.0 NaN NaN  NaN
Fri         0.0 NaN NaN  NaN  0.0 NaN NaN  NaN
Sat         0.0 NaN NaN  NaN  0.0 NaN NaN  NaN
Sun         0.0 NaN NaN  NaN  0.0 NaN NaN  NaN

In [76]:
# Sub Task 20

filtered_orders = tips.loc[(tips['size'] < 3) & (tips['total_bill'] > 10)]
average_filtered_orders = filtered_orders['total_bill'].mean()

print("Average of Orders with size less than 3 and total_bill greater than 10:", average_filtered_orders)

Average of Orders with size less than 3 and total_bill greater than 10: 17.184965034965035

[**Semanur Bilada (SB)**](https://github.com/semanurbilada)